.topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(248, 130, 20);
  color: var(--text-light);
  height: 60px;
  padding: 0 4rem;
  font-size: 1.2rem;
}

.navBar button {
  color: var(--text-light);
  font-size: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.navBar button:hover {
  background-color: rgb(249, 179, 114);box-shadow: 4px 4px 20px rgba(33, 54, 91, 0.24);
  cursor: pointer;
}